## Adding HuggingFace Primitives

First, import the class `AutoMLClassifier`

In [1]:
from alpha_automl import AutoMLClassifier
import pandas as pd

### Generating Pipelines for CSV Datasets

In this example, we are generating pipelines for a CSV dataset. The sentiment dataset is used for this example.

In [2]:

train_dataset = pd.read_csv('datasets/sentiment/train_data.csv')
test_dataset = pd.read_csv('datasets/sentiment/test_data.csv')

Removing the target column from the features for the train dataset

In [3]:
target_column = 'sentiment'
X_train = train_dataset.drop(columns=[target_column])
X_train

,text,Time of Tweet,Age of User,Country
0,"I`d have responded, if I were going",morning,0-20,Afghanistan
1,Sooo SAD I will miss you here in San Diego!!!,noon,21-30,Albania
2,my boss is bullying me...,night,31-45,Algeria
3,what interview! leave me alone,morning,46-60,Andorra
4,"Sons of ****, why couldn`t they put them on t...",noon,60-70,Angola
...,...,...,...,...
27476,wish we could come see u on Denver husband l...,night,31-45,Ghana
27477,I`ve wondered about rake to. The client has ...,morning,46-60,Greece
27478,Yay good for both of you. Enjoy the break - y...,noon,60-70,Grenada
27479,But it was worth it ****.,night,70-100,Guatemala
27480,All this flirting going on - The ATG smiles...,morning,0-20,Guinea

Selecting the target column for the train dataset

In [4]:
y_train = train_dataset[[target_column]]
y_train

      sentiment
0       neutral
1      negative
2      negative
3      negative
4      negative
...         ...
27476  negative
27477  negative
27478  positive
27479  positive
27480   neutral

[27481 rows x 1 columns]

### Adding New Primitives into AlphaAutoML's Search Space

In [5]:
automl = AutoMLClassifier(time_bound=60)

In [6]:
from alpha_automl.wrapper_primitives.huggingface_text import HuggingfaceTextTransformer

my_tweet_embedder = HuggingfaceTextTransformer('cardiffnlp/twitter-roberta-base-sentiment')
my_sentiment_embedder = HuggingfaceTextTransformer('allenai/reviews_roberta_base')
automl.add_primitives([(my_tweet_embedder, 'TEXT_ENCODER')])
automl.add_primitives([(my_sentiment_embedder, 'TEXT_ENCODER')])

In [ ]:
automl.fit(X_train, y_train)

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
INFO:alpha_automl.automl_api:Found pipeline, time=0:00:03, scoring...
INFO:alpha_automl.automl_api:Scored pipeline, score=0.4252656090816475
INFO:alpha_automl.automl_api:Found pipeline, time=0:00:03, scoring...
INFO:alpha_automl.automl_api:Scored pipeline, score=0.4252656090816475
INFO:alpha_automl.automl_api:Found pipeline, time=0:00:04, scoring...
INFO:alpha_automl.automl_api:Scored pipeline, score=0.31596565274341437
INFO:alpha_automl.automl_api:Found pipeline, time=0:02:07, scoring...

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment were not used when initializing RobertaModel: ['classifier.out_proj.bias', 'classifier.dense.weight', 'classifier.dense.bias', 'classifier.out_proj.weight']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of RobertaModel were not initialized from the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment and are newly initialized: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

DEBUG:matplotlib:matplotlib data path: /ext3/miniconda3/lib/python3.10/site-packages/matplotlib/mpl-data
DEBUG:matplotlib:CONFIGDIR=/home/yfw215/.config/matplotlib
DEBUG:matplotlib:interactive is False
DEBUG:matplotlib:platform is linux

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment were not used when initializing RobertaModel: ['classifier.out_proj.bias', 'classifier.dense.weight', 'classifier.dense.bias', 'classifier.out_proj.weight']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of RobertaModel were not initialized from the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment and are newly initialized: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

INFO:alpha_automl.automl_api:Scored pipeline, score=0.5972929704555378
INFO:alpha_automl.automl_api:Found pipeline, time=0:55:17, scoring...
INFO:alpha_automl.automl_api:Scored pipeline, score=0.4217726677339543
INFO:alpha_automl.automl_api:Found pipeline, time=0:55:18, scoring...

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment were not used when initializing RobertaModel: ['classifier.out_proj.bias', 'classifier.dense.weight', 'classifier.dense.bias', 'classifier.out_proj.weight']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of RobertaModel were not initialized from the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment and are newly initialized: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

### Exploring Pipelines

After the pipeline search is complete, we can display the leaderboard:

In [10]:
automl.plot_leaderboard()

In order to explore the produced pipelines, we can use [PipelineProfiler](https://github.com/VIDA-NYU/PipelineVis). PipelineProfiler is a visualization that enables users to compare and explore the pipelines generated by the AlphaAutoML system.

After the pipeline search process is completed, we can use PipelineProfiler with:

In [ ]:
automl.plot_comparison_pipelines()

### Testing Pipelines

Removing the target column from the features for the test dataset

In [12]:
X_test = test_dataset.drop(columns=[target_column])
X_test

,text,Time of Tweet,Age of User,Country
0,Last session of the day http://twitpic.com/67ezh,morning,0-20,Afghanistan
1,Shanghai is also really exciting (precisely -...,noon,21-30,Albania
2,"Recession hit Veronique Branquinho, she has to...",night,31-45,Algeria
3,happy bday!,morning,46-60,Andorra
4,http://twitpic.com/4w75p - I like it!!,noon,60-70,Angola
...,...,...,...,...
3529,"its at 3 am, im very tired but i can`t sleep ...",noon,21-30,Nicaragua
3530,All alone in this old house again. Thanks for...,night,31-45,Niger
3531,I know what you mean. My little dog is sinkin...,morning,46-60,Nigeria
3532,_sutra what is your next youtube video gonna b...,noon,60-70,North Korea
3533,http://twitpic.com/4woj2 - omgssh ang cute n...,night,70-100,North Macedonia

Selecting the target column for the test dataset

In [13]:
y_test = test_dataset[[target_column]]
y_test

     sentiment
0      neutral
1     positive
2     negative
3     positive
4     positive
...        ...
3529  negative
3530  positive
3531  negative
3532  positive
3533  positive

[3534 rows x 1 columns]

Pipeline predictions are accessed with:

In [14]:
y_pred = automl.predict(X_test)
y_pred

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment were not used when initializing RobertaModel: ['classifier.out_proj.bias', 'classifier.dense.weight', 'classifier.dense.bias', 'classifier.out_proj.weight']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of RobertaModel were not initialized from the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment and are newly initialized: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

array(['neutral', 'positive', 'negative', ..., 'negative', 'positive',
       'positive'], dtype=object)

The pipeline can be evaluated against a held out dataset with the function call:

In [15]:
automl.score(X_test, y_test)

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment were not used when initializing RobertaModel: ['classifier.out_proj.bias', 'classifier.dense.weight', 'classifier.dense.bias', 'classifier.out_proj.weight']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of RobertaModel were not initialized from the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment and are newly initialized: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

INFO:alpha_automl.automl_api:Metric: accuracy_score, Score: 0.6706281833616299

{'metric': 'accuracy_score', 'score': 0.6706281833616299}